*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
nav{
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #D86EEA;
}
.nav-item::after {
  content: '';
  display: block;
  width: 0;
  border-bottom:3px solid #D86EEA;
  background: #000;
  transition: width .4s ease-in;
  margin: 0px 5px 0px 5px;
}
.nav-item:hover::after {
  width: 100%;
}
/*.nav-item :hover{
    font-weight: bold;
     border-bottom: solid 3px #D86EEA;
     transition: 0.2s ease all;
     margin-right: 1px;
     margin-left: 1px;
}*/
.active{
/*    border-bottom: solid 3px #D86EEA;*/
    font-weight: bold;
    color:#D86EEA;
  
  }
.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
    justify-content: end;
}
.banner{
    height: auto;
    width: 100%;
    background:-webkit-radial-gradient(#D86EEA, #CE3EB3);
    margin-top: 55px;
    
}
.banner p{
    font-size: 1.2rem;
    text-align: left;
    /*margin-left:10%;*/
    color: #fff;
    margin-top: 15px;
    display:block;
}
.banner p>a{
    color: white;
    text-decoration: none;
    transition: 0.3s all ease;
}
.banner p>a:hover{
    text-decoration: underline;
}
.banner p > i{
    font-size: 1.4rem;
}
.banner-image{
    
padding-top: 4.5rem;
    
padding-bottom: 4.5rem;
}
.banner-image img{
    border-radius: 50%;
    height: 400px;
    filter: drop-shadow(5px 5px 5px #3F3F3F);
    margin-left:15%;
    margin-right: 5%;
}

.banner-note h1{
    padding-top: 4.5rem;
    text-align: left;
    /*margin-left:10%;*/
    font-size: 4rem;
/*     font-family: 'Caveat Brush', cursive;*/
}
.banner-note h2{
    font-size: 2.7rem;
    text-align: left;
    /*margin-left:10%;*/
    margin: 1.5rem 0px 0px 0px;
/*     font-family: 'Caveat Brush', cursive;*/
}
.banner-note-wrapper {
    margin: 2.2rem 0px 0px 0px;
}
#About {
    background-image: url(../images/section-bg.jpg.jpg);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.about-wrappper {
    /* background: #fff; */
    padding: 0.2em 100px;
    margin-top: 100px;
    margin-bottom: 100px;
    height: 0;
    /* width: 150px; */
    width: auto;
    border-bottom: 350px solid #fff;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    /* border-top: 100px solid #32557f; */
}
.about-caption{
    padding: 30px;
}
 .about-caption span {
    background-image: linear-gradient(45deg, #D86EEA, #af4261);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 16px;
    font-weight:bold;
    text-transform: uppercase;
    display: inline-block;
    letter-spacing: .1em;
    margin-bottom: 1em;
    /* margin-top: 2em; */
}
 .about-caption h2 {
    font-size: 25px;
    display: block;
    font-weight: 400;
    line-height: 1.3;
    margin-bottom: 1em;
}
.btn_02 {
    color: #fff;
    background-image: linear-gradient(45deg, #D86EEA, #af4261);
    border: 1px solid transparent;
    display: inline-block;
    padding: 16px 44px;
    text-transform: uppercase;
    font-size: 18px;
    border-radius: 0;
    text-decoration: none;
     transition: all 0.3s ease-in; 
}
.about-caption a:hover{
    opacity: 0.9;
    text-decoration: none;
    color: #fff;
    background-image: linear-gradient(45deg,#af4261, #D86EEA);
    transition: all 0.3s ease-in; 
}
#Skills{
    height:auto;
    width: 100%;
    background-color: #fff;
    padding-bottom:40px;

}
.wrapper h1 {
    background-image: linear-gradient(45deg, #D86EEA, #af4261);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    /*display: inline-block;/*
    letter-spacing: .1em;
    /* margin-bottom: 18px; */
    /* text-align: center; */
    /* margin-left: 45%; */
    margin-top: 30px;
}
.wrapper{
    margin-top: 20px;
}
.bar {
    width: 100%;
    height: 20px;
    background: #808080;
    border-radius: 5px;
    position: relative;
    transition: all 2s linear;
  }
  
  .bar-1,
  .my-skills {
    width: 80%;
    margin: 10px auto 25px;
  }
  
  .bar-inner {
    width: 0;
    height: 20px;
    line-height: 35px;
    background-image: linear-gradient(45deg, #D86EEA, #af4261);
    border-radius: 5px 0 0 5px;
  }
  
  .bar-percent {
    position: absolute;
    right: 10px;
    top: 20px;
    font-size: 18px;
  }
#experience{
    height: auto;
    width: 100%;
    background-image: linear-gradient(45deg, #D86EEA, #af4261);
}
.experince-note-wrapper{
    margin-top: 3.5rem;
    margin-bottom: 3.5rem;
}
#experience h1{
    padding-top: 20px;
}
#experience span{
/*    font-size: 1.7rem;*/
}
#experience p{
    font-size: 1.7rem;
    padding-right:15% ;
/*    line-height: 50px;*/
padding-top: 0.5rem;
}
.experience-pic-border{
    height: auto;
    margin-top: 3.5rem;
    border-right: 8px solid #fff;
    /* border-radius: 10px; */
    margin-bottom: 3.5rem;
}
.owl-carousel  .item{
    height: auto;
/*    background: purple;*/
}
.experience-pic-border img{
    /*position: relative;
    top: 30px;
    left: 30px;
    border-radius: 10px;*/
    padding: 10px 20px 0px 20px;
    
}
#contact{
    height: auto;
    width: 100%;
    /*background-color: #808080;*/
}
.site-contact-details, .site-contact-details li {
    padding: 0;
    margin: 0;
}
.site-contact-details i{
    color: #CE3EB3;
    font-size: 1.5rem;
}
.site-contact-details li {
    list-style: none;
    margin-bottom: 20px;
    font-size: 17px;
}
.site-contact-details, .site-contact-details li {
    padding: 0;
    margin: 0;
}
.site-contact-details li>span {
    color: #2c3e50;
    letter-spacing: .1em;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 5px;
    display: block;
}
#contact h1 {
    background-image: linear-gradient(45deg, #D86EEA, #af4261);
    -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    font-size: 35px;
    font-weight:bold;
    text-transform: uppercase;
    display: inline-block;
    letter-spacing: .1em;
    margin-bottom: 18px;
    margin-left: 40%;
}

.personal_social {
    margin-top: 20px;
}
.personal_social li {
    display: inline-block;
    margin-right: 7px;
}
.personal_social li a {
    line-height: 40px;
    width: 40px;
    background: #808080;
    border-radius: 5px;
    display: inline-block;
    text-align: center;
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    transition: all .3s ease-in-out;
}
.personal_social li a:hover{
    background-image: linear-gradient(45deg, #D86EEA, #af4261);
}
.site-form .btn{
    background-image: linear-gradient(45deg, #D86EEA, #af4261);
    color: #fff;
     transition: all 0.3s;
}
.site-form .btn:hover{
     background-image: linear-gradient(90deg,#af4261, #D86EEA );
    color: #fff;
    transition: all 0.3s;
}
#contact h3{
    margin-bottom: 30px;
}

  
  #scroll {
    position:fixed;
    right:10px;
    bottom:30px;
    cursor:pointer;
    width:50px;
    height:50px;
    background-color:#CE3EB3;
    text-indent:-9999px;
    display:none;
    -webkit-border-radius:60px;
    -moz-border-radius:60px;
    border-radius:60px
}
#scroll span {
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-8px;
    margin-top:-12px;
    height:0;
    width:0;
    border:8px solid transparent;
    border-bottom-color:#ffffff;
}
#scroll:hover {
    
    opacity:0.9;
}
